:root {
    font-size:10px;
}

/*** VARIABLES ***/
@import 'variables/colors';
@import 'variables/fonts';
@import 'variables/mixins';
@import 'variables/animations';
@import 'variables/responsive';

/*** NORMALIZE ***/
@import 'normalize/normalize.scss';
@import 'accessibility/access.scss';

/*** GENERAL ***/

/*** HEADER ***/
@import 'header_footer/header.scss';
@import 'header_footer/footer.scss';
@import 'header_footer/uinav.scss';

/*** BLOCS ***/

/*** PAGES ***/
@import 'pages/home.scss';
@import 'pages/about.scss';

/** INIT **/
* {
    box-sizing: border-box;
}

:root {
    @media screen and (max-width: $tablette) {
        font-size:8px;
    }

    @media screen and (max-width: $phone) {
        font-size:7px;
    }
}

body {
    background-color: $white;
    color: $grey;
    font-family: $regular;
    overflow-x: hidden;
    font-size:10px;
    width:100%;

    &.lineheight {
        line-height: 1.5em;
    }
}

a {
    color:$black;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

fieldset {
    margin:0;
    padding:0;
}

input[type=submit] {
    cursor: pointer;
}

input[type=text]:focus {
    outline-color: $red;
}

/** WRAP **/
.wrap {
    max-width:144rem;
    margin: 0 auto;

    @media screen and (max-width: $small-compt) {
        max-width:100%;
        padding:0 1rem;
    }
}

/** OPENED / CLOSED ***/
.opened {
    display: block !important;
}